/* @import "tailwindcss"; */

*{
  color: white;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, sans-serif;
  color: rgb(244, 241, 241);
  /* background-color: rgb(11, 11, 11); */
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
}

/* If you want all elements to have border-box (standard practice) */
*, ::after, ::before {
  box-sizing: border-box;
}

h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,50%);
  font-size: 50px;
  text-decoration: underline;
  font: bolder;
  white-space: none;
  
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: rgb(19, 132, 189);
}

.nav div{
  display: flex;
  align-items: center;
  gap: 40px;
}